<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--local-->
    <add name="Training" connectionString="Data Source=FGIBM\EXPRESSR2;Initial Catalog=rsys;User ID =sa;password=sa123" providerName="System.Data.SqlClient" />
    <!--LIVE-->
    <add name="Live" connectionString="Data Source=FGIBM\EXPRESSR2;Initial Catalog=rsys;User ID =sa;password=sa123" providerName="System.Data.SqlClient" />
    <add name="rsysEntities1" connectionString="metadata=res://*/RsysModel.csdl|res://*/RsysModel.ssdl|res://*/RsysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGIBM\EXPRESSR2;initial catalog=rsys;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--local--><!--
    <add name="Training" connectionString="Data Source=AJKResources3\Sqlexpress;Initial Catalog=rsys;integrated security=SSPI" providerName="System.Data.SqlClient" />
    --><!--LIVE--><!--
    <add name="Live" connectionString="Data Source=AJKResources3\Sqlexpress;Initial Catalog=rsys;integrated security=SSPI" providerName="System.Data.SqlClient" />
    <add name="rsysEntities1" connectionString="metadata=res://*/RsysModel.csdl|res://*/RsysModel.ssdl|res://*/RsysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AJKResources3\SqlExpress;initial catalog=rsys;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="CurrUserID" value="Noel.Azebiah@nfinancial.co.uk" />
    <add key="CurrUserPass" value="a" />
    <add key="CurrDB" value="Live" />
    <add key="Theme" value="Caramel" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
  </system.web>
  <startup />
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
</configuration>